<div class="container mt-5">
    <div class="container row">
        <div class="col">
            <h1>Edit A Project</h1>
        </div>

        <button class="btn btn-primary">Edit A Project</button>

    </div>
    <hr>
    <form #form="ngForm"> 
        <div class="form-group">
            <label for="projectName">Project Name: </label>
            <input type="text"
                   class="form-control col"
                   id="projectName"
                   name="projectname"
                   placeholder="Todo: Get the user name from REST Services">
        </div>

        <div class="form-group">
            <label for="projectDate">Project Expected Date Of Completion: </label>
            <input type="date"
                   class="form-control col"
                   id="projectDate"
                   name="projectDate"
                   placeholder="Todo: Get the date from REST Services">
        </div>


        <hr>
        <div class="form-group">
            <label for="projectstaff">Assign Staff: </label>
            <div class="input-group">
                <input type="email"
                       class="form-control col"
                       id="projectstaff"
                       name="projectstaff"
                       placeholder="Todo: Get the date from REST Services">
                <div class="input-group-append">
                    <button class="btn btn-primary">
                        <i class="bi bi-plus-square-fill"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            Todo: Display previous assigned staff here if there is any.
        </div>
        <hr>
        <div class="form-group">
            <label for="projectvolunteer">Assign Volunteers: </label>
            <div class="input-group">
                <input type="email"
                       class="form-control col"
                       id="projectvolunteer"
                       name="projectvolunteer"
                       placeholder="Todo: Place the previous data here. ">
                <div class="input-group-append">
                    <button class="btn btn-primary">
                        <i class="bi bi-plus-square-fill"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            Todo: Display previous assigned Volunteer here if there is any.
        </div>
    </form>
</div>

{{ form.value | json }}
