<div class="container mt-5">
  <form (ngSubmit)="postData()" [formGroup]="profileCreate">
    <div class="form-group">
      <label for="profile_email">Email address</label>
      <input type="email"
             class="form-control"
             id="profile_email"
             name="profile_email"
             placeholder="Enter email" formControlName="profile_email">
    </div>
    <div class="form-group">
      <label for="profile-password">Password</label>
      <input type="password"
             class="form-control"
             id="profile_password"
             name="profile_password"
             placeholder="Enter Password"
             formControlName="profile_password">
    </div>
    <div class="form-group">
      <label for="profile-password">Confirm Password</label>
      <input type="password"
             class="form-control"
             id="profile_passwordConfirmed"
             name="profile_passwordConfirmed"
             placeholder="Confirm Password" formControlName="profile_passwordConfirmed">
    </div>
    <div class="form-group">
      <label for="profile_firstName">First Name:</label>
      <input type="text"
             class="form-control"
             id="profile_firstName"
             name="profile_firstName"
             placeholder="Enter First Name" formControlName="profile_firstName">
    </div>
    <div class="form-group">
      <label for="profile_LastName">Last Name:</label>
      <input type="text"
             class="form-control"
             id="profile_LastName"
             name="profile_LastName"
             placeholder="Enter Last Name" formControlName="profile_lastName">
    </div>
    <div class="form-group">
      <label for="profile_suburb">Suburb</label>
      <input type="text"
             class="form-control"
             id="profile_suburb"
             name="profile_suburb"
             placeholder="Enter Suburb" formControlName="profile_suburb">
    </div>
    <div class="form-group">
      <label for="profile_state">State</label>
      <input type="text"
             class="form-control"
             id="profile_state"
             name="profile_state"
             placeholder="State" formControlName="profile_state">
    </div>
    <button type="submit"
            class="btn btn-primary" (click)="postData()" [disabled]="!profileCreate.valid">Submit</button>
  </form>
</div>
