<div class="container mt-5">
  <div>
    <h1>Create A Profile</h1>
  </div>
  <form [formGroup]="profileForm"
        (ngSubmit)="createProfile(profileForm)" #profileCreateForm="ngForm">
    <div class="form-group">
      <span class="float-right text-danger">*Required</span>
      <label for="email">Email address</label>
      <input id="email"
             name="email"
             formControlName="email"
             placeholder="Enter email"
             type="email"
             class="form-control">
      <div
           *ngIf="profileForm.get('email').invalid && (profileForm.get('email').dirty || profileForm.get('email').touched)">
        <div *ngIf="profileForm.get('email').hasError('required')">
          Email is required!
        </div>
      </div>
    </div>

    <!-- <div class="form-group">
      <span class="float-right text-danger">*Required</span>
      <label for="password">Password</label>
      <input id="password"
             name="password"
             formControlName="password"
             placeholder="Enter Password"
             type="password"
             class="form-control">
    </div>
    <div class="form-group">
      <span class="float-right text-danger">*Required</span>
      <label for="profile_passwordConfirmed">Confirm Password</label>
      <input id="profile_passwordConfirmed"
             name="profile_passwordConfirmed"
             formControlName="profile_passwordConfirmed"
             placeholder="Confirm Password"
             type="password"
             class="form-control">
    </div> -->
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <span class="float-right text-danger">*Required</span>
      <input id="firstName"
             name="firstName"
             formControlName="firstName"
             placeholder="Enter First Name"
             type="text"
             class="form-control">
      <div
           *ngIf="profileForm.get('firstName').invalid && (profileForm.get('firstName').dirty || profileForm.get('firstName').touched)">
        <div *ngIf="profileForm.get('firstName').hasError('required')">
          FirstName is required!
        </div>
      </div>
    </div>
    <!-- Last Name -->
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <span class="float-right text-danger">*Required</span>
      <input id="lastName"
             name="lastName"
             formControlName="lastName"
             placeholder="Enter Last Name"
             type="text"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <span class="float-right text-danger">*Required</span>
      <input id="phone"
             name="phone"
             formControlName="phone"
             placeholder="Enter Phone"
             type="tel"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="suburb">Suburb</label>
      <span class="float-right text-danger">*Required</span>
      <input type="text"
             class="form-control"
             id="suburb"
             name="suburb"
             placeholder="Enter Suburb"
             formControlName="suburb">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <span class="float-right text-danger">*Required</span>
      <input id="state"
             name="state"
             type="text"
             class="form-control"
             formControlName="state"
             placeholder="Enter State" />
      <!-- <input id="state"
             name="state"
             type="text"
             class="form-control"
             [ngbTypeahead]="search"
             formControlName="state"
             placeholder="Enter State" /> -->
    </div>
    <div class="form-group">
      <label for="postcode">Postcode</label>
      <span class="float-right text-warning">*Optional</span>
      <input type="tel"
             class="form-control"
             id="postcode"
             name="postcode"
             placeholder="Enter Phone"
             formControlName="postcode">
    </div>
    <hr>
    <div class="form-group">
      <label for="additionalEmail">Additional Email (Optional)</label>
      <span class="float-right text-warning">*Optional</span>
      <input id="additionalEmail"
             name="additionalEmail"
             formControlName="additionalEmail"
             placeholder="Enter Email"
             type="email"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="additionalPhone">Additional Phone (Optional)</label>
      <span class="float-right text-warning">*Optional</span>
      <input type="tel"
             class="form-control"
             id="additionalPhone"
             name="additionalPhone"
             placeholder="Enter Phone"
             formControlName="additionalPhone">
    </div>
    <input hidden
           value="Volunteer"
           formControlName="deleted">
    <input hidden
           value="N"
           formControlName="deleted">
    <button type="submit"
            class="btn btn-primary">Submit</button>
  </form>

  <ng-container *ngIf="profileForm.valid && profileCreateForm.submitted; then thenBlock else elseBlock">
    This content is not shown
  </ng-container>
  <br>
  <div *ngIf=""></div>
  <ng-template #thenBlock>
    <div class="alert alert-danger">
      content to render when the condition is true.
    </div>
  </ng-template>

  <ng-template #elseBlock>
    <div class="alert alert-danger">
      content to render when the condition is false.
    </div>
  </ng-template>

  <!-- {{ this.profileForm.status | json}} -->
</div>