<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand"
     [routerLink]="'.'">Responsive navbar</a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler"
          type="button"
          (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed"
       class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLinkActive='active'
           routerLink='/project'
           class="nav-link"
           (click)="isMenuCollapsed = true">Project</a>
      </li>
      <li class="nav-item">
        <a class='nav-link'
           routerLinkActive='active'
           routerLink='/profiles'
           (click)="isMenuCollapsed = true">Profiles</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive='active'
           routerLink='/meeting'
           class="nav-link"
           (click)="isMenuCollapsed = true">Meeting</a>

      </li>
    </ul>
  </div>
</nav>