<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger"
         *ngIf="securityObject &&
             !securityObject.isAuthenticated">
      <p>Invalid User Name/Password.</p>
    </div>
  </div>
</div>

<!-- TEMPORARY CODE TO VIEW SECURITY OBJECT -->
<!-- <div class="row">
    <div class="col-xs-12">
      <label>{{securityObject | json}}</label>
    </div>
  </div> -->

<form class="d-flex justify-content-center align-items-center">
  <div class="jumbotron">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Log in</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="userName" class="text-uppercase">User Name</label>
          <div class="input-group">
            <input id="userName"
                   name="userName"
                   class="form-control"
                   required
                   [(ngModel)]="user.userName"
                   autofocus="autofocus" />
            <span class="input-group-append">
              <fa-icon class="input-group-text pl-2"
                       [icon]="faEnvelope"></fa-icon>
            </span>
          </div>
        </div>
        
        <div class="form-group mt-3">
          <label for="password" class="text-uppercase">Password</label>
          <div class="input-group">
            <input id="password"
                   name="password"
                   class="form-control"
                   required
                   [(ngModel)]="user.password"
                   type="password" />
            <span class="input-group-append">
              <fa-icon class="input-group-text pl-2"
                       [icon]="faLock"></fa-icon>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-round"
                [disabled]="isLoggingIn"
                (click)="login()">
          Login
        </button>
      </div>
    </div>
  </div>
</form>