<div class="container">
  <form (ngSubmit)="saveProject()" [formGroup]="projectForm">
      <div class="container mt-5">
          <div class="container row">
              <div class="col">
                  <h3>{{heading}}</h3>
              </div>
              <!-- <button class="btn btn-primary btn-round">Create Project</button> -->
          </div>
      </div>
      <hr>
      <div class="form-group">
          <label for="Name">Project Name: </label>
          <input type="text"
                 class="form-control col"
                 id="Name"
                 name="Name"
                 formControlName="projectName"
                 placeholder="Enter Project Name" >
      </div>
      <div class="form-group">
          <label for="SkillsRequired">Skills Required: </label>
          <input type="text"
                 class="form-control col"
                 id="SkillsRequired"
                 name="SkillsRequired"
                 formControlName="skillsRequired"
                 placeholder="Enter Skills Required for this Project" >
          <div class="col-12">
                  <bfv-messages></bfv-messages>
          </div>
      </div>
  
      <div class="form-group">
          <label for="estimatedCompletionDate">Estimated Completion Date: </label>
          <input type="text"
                 class="form-control col"
                 formControlName="estimatedCompletionDate"
                 ngbDatepicker #estimatedCompletionDate="ngbDatepicker"
                 (click)="estimatedCompletionDate.toggle()" 
                 placeholder="Enter Estimated Completion Date" />
            <div class="col-12">
                  <bfv-messages></bfv-messages>
            </div>
      </div>

      <div class="form-group">
        <label for="actualCompletionDate">Actual Completion Date: </label>
        <input type="text"
               class="form-control col"
               formControlName="actualCompletionDate"
               ngbDatepicker #actualCompletionDate="ngbDatepicker"
               (click)="actualCompletionDate.toggle()"
               placeholder="Enter Actual Completion Date" />
        <div class="col-12">
                <bfv-messages></bfv-messages>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-round" *ngIf="projectId != null && projectId != undefined && projectId != ''" (click)="openTaskDialog()">Add Task</button>  <!-- openTask() -->
    &nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary btn-round" *ngIf="securityObject.canAddProject == 'Y' || securityObject.canEditProject == 'Y'">Submit</button>
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary btn-round" (click)="onCancel()">Cancel</button>

    <br/>
    <br/>
    <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Task Name:</th>
                <th scope="col">Resource:</th>
                <th scope="col">Completed:</th>
                <th scope="col">Expected Finish Date:</th>
                <th scope="col">Actual Finish Date:</th>
                <th scope="col">Actions:</th>
              </tr>
            </thead>
            <tbody *ngFor="let task of tasks">
              <tr>
                <th scope="row">{{task.Name}}</th>
                <td>{{task.Resource}}</td>
                <td>{{task.Completed}} </td>
                <td>{{task.EstimatedCompletionDate.substring(6,8)}}-{{task.EstimatedCompletionDate.substring(4,6)}}-{{task.EstimatedCompletionDate.substring(0,4)}}</td>
                <td *ngIf="task.ActualCompletionDate !== null && task.ActualCompletionDate !== undefined && task.ActualCompletionDate !== ''">{{task.ActualCompletionDate.substring(6,8)}}-{{task.ActualCompletionDate.substring(4,6)}}-{{task.ActualCompletionDate.substring(0,4)}}</td>
                <td *ngIf="task.ActualCompletionDate !== null || task.ActualCompletionDate !== undefined || task.ActualCompletionDate !== ''">{{task.ActualCompletionDate}}</td>
                <td>
                    <button type="button"
                            class="btn btn-outline-primary btn-round mr-2"
                            (click)="editTaskDetails(task.Id)">
                      <i class="bi bi-pencil-square"> Edit</i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br/>
  </form>
  </div>
  <!-- {{ projectCreate.value | json }} -->
  <ng-template #taskDialog let-modal style="width:360px;">
      <form class='form-horizontal' [formGroup]="projectTaskForm" (onSubmit)="saveTask()" > 
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Project Task</h4>
            <button type="button" class="btn btn-link" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                    <label for="Name">Task Name: </label>
                    <input type="text"
                           class="form-control col"
                           id="TaskName"
                           name="TaskName"
                           formControlName="taskName"
                           placeholder="Enter Task Name" >
            </div>

            <div class="form-group">
                <label for="resource">Resource</label>
                <em class="float-right">*Required</em>
                <ng-select [clearable]="false" formControlName="resource" placeholder="Enter a Resource"  > 
                  <ng-option *ngFor="let resource of resources" [value]="resource.Value">{{resource.Text}} </ng-option>
                </ng-select>
              </div>

            <div class="form-group">
                <label for="estimatedTaskCompletionDate">Estimated Task Completion Date: </label>
                <input type="text"
                       class="form-control col"
                       formControlName="estimatedTaskCompletionDate"
                       ngbDatepicker #estimatedTaskCompletionDate="ngbDatepicker"
                       (click)="estimatedTaskCompletionDate.toggle()" 
                       placeholder="Enter Estimated Task Completion Date" />
            </div>
      
            <!--
            <div class="form-group">
              <label for="actualCompletionDate">Actual Completion Date: </label>
              <input type="text"
                     class="form-control col"
                     formControlName="actualCompletionDate"
                     ngbDatepicker #actualCompletionDate="ngbDatepicker"
                     (click)="actualCompletionDate.toggle()"
                     placeholder="Enter Actual Completion Date" />
              <div class="col-12">
                      <bfv-messages></bfv-messages>
              </div>
          </div>
        -->

            <div class="form-group">
              <label for="actualTaskCompletionDate">Actual Task Completion Date: </label>
              <input type="text"
                     class="form-control col"
                     formControlName="actualTaskCompletionDate"
                     ngbDatepicker #actualTaskCompletionDate="ngbDatepicker"
                     (click)="actualTaskCompletionDate.toggle()"
                     placeholder="Enter Actual Task Completion Date" />
              <div class="col-12">
                      <bfv-messages></bfv-messages>
              </div>
            </div>
      
            <div class="form-group">
                <input type="checkbox" formControlName="taskCompleted" id="taskCompleted">
                <label class="ml-1 mb-0 form-check-label" for="taskCompleted">Completed</label>
            </div>

            <!-- <div>Completed: <strong>{{ taskCompleted.value }}</strong></div> -->
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark btn-round" (click)="saveTask()">Save Task</button>  <!-- toggleModalPopup('closeTask') -->
            <button type="button" class="btn btn-outline-dark btn-round" (click)="closeModal()">Cancel</button>
        </div>

        <br/>
        <br/>
      </form>
  </ng-template>