<div class="container mt-5">
    <form #profileInvite="ngForm">
        <div class="input-group">
                <input type="email"
                       class="form-control col"
                       id="profile_invite"
                       name="profile_invite"
                       placeholder="Enter Email ">
            <div class="input-group-append">
                <button class="btn btn-primary">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>
        <hr>
        <button class="btn btn-primary">Send Email Invitations</button>
    </form>
</div>

{{profileInvite | json}}