<div class="container mt-5">
    <ul ngbNav
        #nav="ngbNav"
        [(activeId)]="active"
        class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Project Task</a>
            <ng-template ngbNavContent>
                <div class="jumbotron mt-3">
                    <h1 class="display-sm-3">Project</h1>
                    <p class="lead">Manage Projects Here</p>
                    <hr class="my-3">
                    <div class="lead float-sm-right">
                        <button type="button"
                                class="btn btn-primary mr-2"
                                routerLink="/project/project-create/">
                            <i class="bi bi-file-earmark-plus-fill"> Create Task</i>
                        </button>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="container-fluid">
                            <div class="row">
                                <h3 class="col">Two</h3>
                                <div class="d-flex">
                                    <button type="button"
                                            class="btn btn-primary mr-2"
                                            routerLink="/#">
                                        <i class="bi bi-info-square-fill"> Info</i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-success mr-2"
                                            routerLink="/#">
                                        <i class="bi bi-pencil-square"> Edit</i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger mr-2"
                                            routerLink="/#">
                                        <i class="bi bi-trash-fill"> Delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item">Item 2a</li>
                            <li class="list-group-item">Item 2b</li>
                        </ul>
                    </li>
                </ul>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Two</a>
            <ng-template ngbNavContent>

            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>Three</a>
            <ng-template ngbNavContent>

            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>

    <pre>Active: {{ active }}</pre>
</div>
<router-outlet></router-outlet>