<!-- <div class="container mt-5">
    <ul ngbNav
        #nav="ngbNav"
        [(activeId)]="active"
        class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink >Project Task</a>
            <ng-template ngbNavContent>
                <div class="jumbotron mt-3">
                    <h1 class="display-sm-3">{{ProjectModel.proj_name}}</h1>
                    <p class="lead">Project Team Leader: {{ProjectModel.volunteer_id}}</p>
                    <p class="lead">Assigned Staff: {{ProjectModel.staff_id}}</p>
                    <hr class="my-3">
                    <div class="lead float-sm-right">
                        <button type="button"
                                class="btn btn-primary mr-2"
                                routerLink="/project-task-create">
                            <i class="bi bi-file-earmark-plus-fill"> Create Task</i>
                        </button>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="container-fluid">
                            <div class="row">
                                <h3 class="col"></h3>
                                <div class="d-flex">
                                    <button type="button"
                                            class="btn btn-primary mr-2"
                                            routerLink="/#">
                                        <i class="bi bi-info-square-fill"> Info</i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-success mr-2"
                                            routerLink="/#">
                                        <i class="bi bi-pencil-square"> Edit</i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger mr-2"
                                            routerLink="/#">
                                        <i class="bi bi-trash-fill"> Delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item">Item 2a</li>
                            <li class="list-group-item">Item 2b</li>
                        </ul>
                    </li>
                </ul>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Project Information</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>Project FAQ</a>
            <ng-template ngbNavContent>
                <!-- <div class="card bg-light thumbnail">
                    <div class="card-body">
                        <h3> FirstName LastName</h3>
                        <div>Email: </div>
                        <div>Phone: </div>
                    </div>
                </div> 
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav">

    </div>

    <pre>Active: {{ active }}</pre>
</div>
<router-outlet></router-outlet> -->