<div class="container mt-5">
  <div>
    <h1>Edit A Profile</h1>
  </div>
  <form [formGroup]="profileEditForm"
        (ngSubmit)="editProfile(profileEditForm)"
        #profileCreateForm="ngForm">
    <div class="form-group">
      <span class="float-right text-danger">*Required</span>
      <label for="Id">ID</label>
      <input type="text"
             name="Id"
             id="ID"
             formControlName="Id"
             class="form-control">
    </div>
    <div class="form-group">
      <span class="float-right text-danger">*Required</span>
      <label for="Email">Email address</label>
      <input type="email"
             name="Email"
             id="Email"
             formControlName="Email"
             class="form-control">
    </div>
  </form>

</div>