<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-sm-3">Project</h1>
    <p class="lead">Manage Projects Here</p>
    <hr class="my-3">
    <div class="lead float-sm-right">
      <button type="button"
              class="btn btn-primary mr-2"
              routerLink="project-create">
        <i class="bi bi-file-earmark-plus-fill"> Create Project</i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Project Name:</th>
            <th scope="col">Skills Required:</th>
            <th scope="col">Completed:</th>
            <th scope="col">Expected Due Date:</th>
            <th scope="col">Real Due Date:</th>
            <th scope="col">Actions:</th>
          </tr>
        </thead>
        <tbody *ngFor="let viewProjects of ProjectsView">
          <tr >
            <th scope="row">{{viewProjects.Name}}</th>
            <td>{{viewProjects.SkillsRequired}}</td>
            <td>{{viewProjects.Completed}}</td>
            <td>{{viewProjects.EstimatedDueDate}}</td>
            <td>{{viewProjects.DueDate}}</td>
            <td>
              <div class="d-flex">
                <button type="button"
                        class="btn btn-primary mr-2"
                        [routerLink]="[viewProjects.Id, 'project-detail']">
                  <i class="bi bi-info-square-fill"> Info</i>
                </button>
                <button type="button"
                        class="btn btn-success mr-2"
                        [routerLink]="[viewProjects.Id, 'project-edit']">
                  <i class="bi bi-pencil-square"> Edit</i>
                </button>
                <button type="button"
                        class="btn btn-danger mr-2"
                        (click)="deleteProjectByID(viewProjects.Id)">
                  <i class="bi bi-trash-fill"> Delete</i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>