<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-sm-3">Project</h1>
    <p class="lead">Manage Projects Here</p>
    <hr class="my-3">
    <div class="lead float-sm-right">
      <button type="button"
              class="btn btn-primary mr-2"
              routerLink="/project-create">
        <i class="bi bi-file-earmark-plus-fill"> Create Meeting</i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Project Name:</th>
            <th scope="col">Authorised Personel:</th>
            <th scope="col">Team Leader:</th>
            <th scope="col">Expected Due Date:</th>
            <th scope="col">Real Due Date:</th>
            <th scope="col">Actions:</th>
          </tr>
        </thead>
        <tbody>
          <ng-template></ng-template>
          <tr *ngFor="let show_project of ProjectModel">
            <th scope="row">{{show_project.proj_name}}</th>
            <td>{{show_project.staff_id}}</td>
            <td>{{show_project.volunteer_id}}</td>
            <td>{{show_project.proj_estimated_due_date}}</td>
            <td>{{show_project.proj_real_due_date}}</td>
            <td>
              <div class="d-flex">
                <button type="button"
                        class="btn btn-primary mr-2"
                        [routerLink]="[show_project.id, 'project-detail']">
                  <i class="bi bi-info-square-fill"> Info</i>
                </button>
                <button type="button"
                        class="btn btn-success mr-2"
                        [routerLink]="[show_project.id, 'project-edit']">
                  <i class="bi bi-pencil-square"> Edit</i>
                </button>
                <button type="button"
                        class="btn btn-danger mr-2"
                        routerLink="/project/project-delete">
                  <i class="bi bi-trash-fill"> Delete</i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>