/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  padding: 0;
  margin: 0;
}

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 10px;
}

.jumbotron {
  background-color: #e2e4e5;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  padding: 2rem !important;
}

/* overrides style set by paper-dashboard theme */
.navbar .navbar-nav .nav-link {
  text-transform: none !important;
  font-size: 1rem !important;
}

.navbar .navbar-nav .nav-link fa-icon {
  margin-right: 0.25rem !important;
}
