<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-sm-3">Profiles List</h1>
        <p class="lead">Manage Profiles Here.</p>
        <hr class="my-3">
        <div class="lead">
            <!-- <button type="button"
                    class="btn btn-primary mr-2"
                    routerLink="/profiles/profiles-invite">
                Invite To Create A Profile
            </button> -->
            <button type="button"
                    class="btn btn-primary mr-2"
                    routerLink="/profiles-create">
                Create A Profile
            </button>  <!-- routerLink="/profiles-create"> -->
        </div>
    </div>

    <!-- <p *ngIf="profiles === null || profiles === undefined || profiles.length === 0"
       class="border border-primary rounded text-center">
        The profile is empty or can't load from server.
    </p> -->
</div>

<div class="container align-items-center">
    <div class="row">
        <div class="card bg-light thumbnail" *ngFor="let profile of profiles" >
            <div class="card-body col-md-6">
                <h3>{{profile.FirstName + " " + profile.LastName}}</h3>
                <div>Email: {{profile.Email}} </div>
                <div>Phone: {{profile.Phone}}</div>
                <div>Type: {{profile.Type}}</div>
                <!-- <h3>{{profile.profile_firstName + " " + profile.profile_lastName}}</h3>
                <div>Email: {{profile.profile_email}} </div>
                <div>Phone: {{profile.profile_phone}}</div>
                <hr>-->
            </div>
            <div class="d-flex">
                <!-- <button type="button"
                        class="btn btn-primary mr-2"
                        routerLink="profiles-detail/{{this.profile.Id}}"
                        skipLocationChange>
                    View Profile
                </button> -->

                <button type="button"
                        class="btn btn-danger mr-2"
                        routerLink="/profiles-create/{{this.profile.Id}}/{{this.profile.Type}}"
                >
                    Edit Profile
                </button>
            </div>
        </div>
    </div>
</div>
  