.thumbnail {
    min-height: 300px;
    min-width: 340px;
    margin: 0px 0px 30px 30px;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .thumbnail {
        margin: 0px auto 30px auto;
    }
}
