<p>profile-list works!</p>

<div class="row">
    <div class="md-col-4" *ngFor="let profile of profiles">
        <app-profile-thumbnail [profileInput]="profile" > </app-profile-thumbnail>        
    </div>
</div>

<!-- <app-profile-thumbnail [profileInput]="profile1" > </app-profile-thumbnail>
<app-profile-thumbnail [profileInput]="profile2" > </app-profile-thumbnail>
<app-profile-thumbnail [profileInput]="profile3" > </app-profile-thumbnail>
<app-profile-thumbnail [profileInput]="profile4" > </app-profile-thumbnail>
<app-profile-thumbnail [profileInput]="profile5" > </app-profile-thumbnail>
<app-profile-thumbnail [profileInput]="profile6" > </app-profile-thumbnail> -->